<span class="mx-2 rounded-lg mb-4">
    <input id="idTipologia" type="checkbox" class="checkbox peer hidden" value="idTipologia" name="type_id[]">
    <label id="checkTypeLabel" for="idTipologia" class="inline-block overflow-hidden bg-white text-center rounded-3xl border-4 border-t-gray-900 border-b-gray-500 border-l-gray-900 border-r-gray-500 cursor-pointer hover:scale-105 hover:shadow-lg duration-300 peer-checked:shadow-lg peer-checked:border-t-lime-500 peer-checked:border-b-lime-700 peer-checked:border-l-lime-500 peer-checked:border-r-lime-700 peer-checked:scale-105 peer-checked:font-bold">
       <img class="h-28 w-40 object-cover" src="/assets/img/type-japan.jpg"
          alt="...">
       <h4 class="p-2 flex justify-center items-center grow">Giapponese</h4>
    </label>
</span>