<div
  class="flex flex-col justify-between text-center bg-white overflow-hidden rounded-2xl border w-full h-full"
>
  <div>
    <img
      class="h-52 w-full object-cover"
      [src]="environment.BACKEND_URL + '/storage/' + currentFood.image"
      alt="..."
    />
    <div class="flex justify-center items-center my-1">
      <h6 class="p-2">{{ currentFood.name }}</h6>
    </div>
    <small id="single-price">{{ currentFood.price }} €</small>
    <small id="total-price"
      >{{ (currentFood.price * currentFood.quantity).toFixed(2) }} €</small
    >
  </div>

  <div *ngIf="currentFood.quantity > 0; else noAdded" class="mb-4 pt-1">
    <button (click)="removeFromCart()">
      <i
        class="fa-solid fa-circle-minus text-red-600 text-lg cursor-pointer"
      ></i>
    </button>
    <span class="px-2 mx-2 border">{{ currentFood.quantity }}</span>
    <button (click)="addToCart()">
      <i
        class="fa-solid fa-circle-plus text-lime-500 text-lg cursor-pointer"
      ></i>
    </button>
  </div>

  <ng-template #noAdded id="btn-cart">
    <div (click)="addToCart()">
      <i
        class="fa-brands fa-opencart my-4 mx-auto p-1 w-1/2 bg-yellow-400 rounded-2xl cursor-pointer"
      ></i>
    </div>
  </ng-template>
</div>
