<div class="flex flex-col justify-between bg-white overflow-hidden rounded-2xl border w-full h-full">
    <div>
        <img class="h-52 w-full object-cover" src="http://localhost:8000/storage/{{ currentFood.image }}" alt="...">
        <div class="flex justify-center items-center my-1">
            <h6 class="p-2">{{ currentFood.name }}</h6>
        </div>
        <small id="single-price">{{ currentFood.price }} €</small>
        <!-- <small id="total-price">29.00 €</small> -->
    </div>
    <!-- IF -->
    <div class="my-2 pt-1">
        <i class="fa-solid fa-circle-minus text-red-600 text-lg cursor-pointer" (click)="removeFromCart()"></i>
        <span class="px-2 mx-2 border">{{ currentFood.quantity }}</span>
        <i class="fa-solid fa-circle-plus text-lime-500 text-lg cursor-pointer" (click)="addToCart()"></i>
    </div> 
    <!-- ELSE -->
    <!-- 
    <div id="btn-cart" class="my-2 mx-auto p-1 w-1/2 bg-yellow-400 rounded-2xl">
        <i class="fa-brands fa-opencart"></i>
    </div> 
    -->
</div>