<footer>
    <div class="py-6 bg-black" >
        <footer class="py-4 border-t border-white">
            <div class="max-w-screen-xl mx-auto">
                <div class="flex items-center justify-between flex-wrap container">
                   <div class="w-full md:w-1/2 text-white">
                      <span class="mr-4">© 2023 DeliveBoo, Inc</span>
                   </div>
                   <div class="w-full md:w-1/2 md:flex md:justify-end items-center">
                      <span class="mr-4 no-underline">
                         Home
                      </span>
                      <a class="mr-4 no-underline text-white" :href="this.store.baseUrl">Area Ristoratori</a>
                      <a class="mr-4 text-2xl text-white" href="#"><i class="fa-brands fa-instagram"></i></a>
                      <a class="mr-4 text-2xl text-white" href="#"><i class="fa-brands fa-twitter"></i></a>
                      <a class="mr-4 text-2xl text-white" href="#"><i class="fa-brands fa-facebook"></i></a>
                   </div>
                </div>
            </div>
        </footer>
     </div>
</footer>