<div class="bg-white overflow-hidden rounded-2xl m-2 border">
    <div>
        <img src="/assets/img/riso-ananas.jpg" alt="...">
        <div class="flex justify-center items-center my-1">
            <h6 class="p-2">Riso all'ananas</h6>
        </div>
        <small id="single-price">14.50 €</small>
        <!-- <small id="total-price">29.00 €</small> -->
    </div>
    <!-- IF -->
    <div class="my-2 pt-1">
        <i class="fa-solid fa-circle-minus text-red-600 text-lg"></i>
        <span class="px-2 mx-2 border">2</span>
        <i class="fa-solid fa-circle-plus text-lime-500 text-lg"></i>
    </div> 
    <!-- ELSE -->
    <!-- 
    <div id="btn-cart" class="my-2 mx-auto p-1 w-1/2 bg-yellow-400 rounded-2xl">
        <i class="fa-brands fa-opencart"></i>
    </div> 
    -->
</div>