<div *ngIf="currentRestaurant$|async as currentRestaurant">
   <div id="hero" class="h-96 bg-cover bg-center flex justify-center items-center p-4 md:p-20" [ngStyle]="{'background-image': 'url(\'http:\/\/localhost:8000/storage/' + currentRestaurant.image + '\')'}">
      <div id="info-ristorante" class="p-2 md:p-8 text-white rounded-2xl bg-black/75">
         <h3 class="text-2xl mb-4">{{ currentRestaurant.name }}</h3>
         <h5>{{ currentRestaurant.address }}</h5>
         <p *ngIf="currentRestaurant.description">{{ currentRestaurant.description }}</p>
      </div>
   </div>

   <div id="restaurant-foods" class="p-4 justify-center">
      <div *ngIf="(foods$|async).length; else emptyMenu" class="flex flex-wrap p-4 text-center">
         <div *ngFor="let foodElement of foods$|async" class="w-1/4 p-2">
            <app-food-card [currentFood]="foodElement"></app-food-card>
         </div>
      </div>
      <ng-template #emptyMenu>Il menu è vuoto</ng-template>
   </div>
</div>

<div id="restaurantModal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
   <div class="relative w-full max-w-md max-h-full">
       <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
           <div class="p-6 text-center">
               <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                   <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
               </svg>
               <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Il tuo carrello ha già prodotti di un altro ristorante, desideri tornare al menu del ristorante dal quale stavi ordinando o svuotare il carrello?</h3>
               <button (click)="deleteCart(); closeModal()" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                  Svuota carrello
               </button>
               <button [routerLink]="['/restaurant-menu', cartRestaurantSlug]" (click)="closeModal()" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Ristorante precedente</button>
           </div>
       </div>
   </div>
</div>