<app-carousel-jumbo></app-carousel-jumbo>
<div class="px-4 sm:px-8 max-w-screen-xl mx-auto">
    <div class="py-20">
        <div class="text-center" *ngIf="typeList?.length; else noTypes">
            <app-type-checkbox *ngFor="let typeElement of typeList" [type]="typeElement"></app-type-checkbox>
        </div>
        <ng-template class="p-8 text-center" #noTypes>Errore durante il caricamento delle tipologie</ng-template>
    </div>
    <div *ngIf="foundRestaurants?.length; else noRestaurant">
        <app-restaurant-card *ngFor="let restaurantElement of foundRestaurants" [routerLink]="['/restaurant-menu', restaurantElement.slug]" [restaurant]="restaurantElement"></app-restaurant-card>
    </div>
    <ng-template #noRestaurant>Nessun ristorante trovato</ng-template>
</div>